@using WebApplication2.Models.ViewModels
@model NewsListMessage
@{
    ViewBag.Title = "Index";
}

<h3>您好，@Model.CurrentUserName</h3>

<form>
    <div class="form-group">
        <label for="title">标题</label>
        <input id="title" class="form-control" type="text" name="title" />
    </div>
    <div class="form-group">
        <label for="keyword">关键字</label>
        <input id="keyword" class="form-control" type="text" name="key" />
    </div>
    <button class="btn btn-info" type="submit">查询</button>
</form>

<table class="table table-bordered table-striped">
    <tr>
        <th class="text-center">标题</th>
        <th class="text-center">作者</th>
        <th class="text-center">关键字</th>
        <th class="text-center">类型</th>
        <th class="text-center">添加时间</th>
        <th class="text-center">操作</th>
    </tr>
    @foreach (var item in Model.NewsList)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.Keyword</td>
            <td>
                @if (item.Type == 0)
                {
                    <text>国际</text>
                }
                else if (item.Type == 1)
                {
                    <text>政治</text>
                }
                else if (item.Type == 2)
                {
                    <text>军事</text>
                }
                else if (item.Type == 3)
                {
                    <text>科技</text>
                }
                else if (item.Type == 4)
                {
                    <text>娱乐</text>
                }
                else
                {
                    <text>其他</text>
                }
            </td>
            <td>@item.CreateTime</td>
            <td>
                <div class="pull-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modify-model">修改</button>
                    <button class="btn btn-danger">删除</button>
                </div>
            </td>
        </tr>
    }
</table>

<div class="partial-content"></div>

<div class="well add-btn">
    <a href="/My/Add" class="btn btn-primary">添加新闻</a>
</div>
@Html.ActionLink("页面详情", "Details", "My")

@* 登录成功弹出一个提示模态框 *@
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h4 style="text-align: center; font-weight: bold; color: #8aa1fa;">登录成功</h4>
            </div>

        </div>
    </div>
</div>

@* 修改新闻的模态框 *@
<div id="modify-model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content" action="/My/Modify">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改新闻</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>标题：</label>
                    <input class="form-control" type="text" name="Title" />
                </div>
                <div class="form-group">
                    <label>关键字：</label>
                    <input class="form-control" type="text" name="Keyword" />
                </div>
                <div class="form-group">
                    <label>作者：</label>
                    <input class="form-control" type="text" name="Author" />
                </div>
                <div class="form-group">
                    <label>类别：</label>
                    <select class="form-control" name="Type">
                        <option value="0">国际</option>
                        <option value="1">政治</option>
                        <option value="2">军事</option>
                        <option value="3">科技</option>
                        <option value="4">娱乐</option>
                        <option value="5">其他</option>
                    </select>
                </div>
                <input type="hidden" name="Index" />
            </div>
            <div class="modal-footer">
                <button id="modify-submit" type="submit" class="btn btn-primary">确定</button>
            </div>
        </form>
    </div>
</div>
<script>
    // 模态框配置参数 start
    $(function () {
        $("#myModal").modal({
            keyboard: true
        });
    });
    // 模态框配置参数 end

    var aRows = document.querySelectorAll('table tr:not(:first-of-type)');
    var modifySubmit = document.querySelector('#modify-model #modify-submit');
    var indexSubmit = document.querySelector('#modify-model input[type=hidden]');
    var modifyForm = document.querySelector('form.modal-content');
    console.log(modifyForm)
    aRows.forEach((item, index) => {
        var modifyBtn = item.lastElementChild.children[0].firstElementChild;
        modifyBtn.index = index;
        modifyBtn.addEventListener('click', function () {
            console.log(this.index)
            indexSubmit.value = this.index;
        })
        console.log(modifyBtn.index)
    })

    //modifySubmit.addEventListener('click', function () {
    //    var formData = new FormData(modifyForm);
    //    var xhr = new XMLHttpRequest();
    //    xhr.open('POST', '/My/Modify');
    //    xhr.onreadystatechange = function () {
    //        if (xhr.status == 200) {
    //            console.log(this)
    //        }
    //    }
    //    xhr.send(null);
    //})
    //aBtnGroup[0].addEventListener('click', function () {
    //    aBtnGroup[0].style.display = 'inline-block';
    //    aBtnGroup[1].style.display = 'none';
    //})
    //aBtnGroup[1].addEventListener('click', function () {
    //    aBtnGroup[0].style.display = 'none';
    //    aBtnGroup[1].style.display = 'inline-block';
    //})
</script>
@*<script>
        $(document).ready(function () {
            $(".partial-content").load('/My/Details');
        });
    </script>*@